<div class="container w-50 h-100 bg-light mt-4 p-2">
    <h1>Your profile</h1>
    <div id="app-profile-content">
        <p>Login: <span id="app-profile-login"></span></p>
    </div>
    <div id="app-form-profile-change">
        <input type="text" name="app-form-change-login" id="app-form-change-login" placeholder="login...">
        <button class="btn btn-success" id="app-btn-save-change-profile">save</button>
        <button class="btn" id="app-btn-cancel-change-profile">cancel</button>
    </div>

    <button class="btn btn-primary" id="app-btn-change-profile">change</button>
</div>
