<div class="container w-50 p-4 bg-light mt-4">

    <div class="p-2 mb-3">
        <h2>Admin list</h2>
        <hr>
        <button class="btn btn-success" id="app-create-admin">Create admin</button>
        <hr>
        <ul id="app-admin-list">
        </ul>
    </div>

    <div class="p-2">
        <h2 class="">User list</h2>
        <hr>
        <button class="btn btn-success" id="app-create-user">Create user</button>
        <hr>
        <ul id="app-user-list">
        </ul>
    </div>

</div>
