<div class="container-fluid mt-4 overflow-hidden">
    <div class="row gx-5 app-blocks-status">
        <div class="col" id="app-taskblock-backlog">
            <div class="p-2 border rounded block-status">
                <p>Backlog</p>
                <ul class="list-unstyled" id="app-tasks-list-backlog"></ul>
                <button id="app-add-task-backlog" class="btn">+ Add card</button>
                <button id="app-submit-add-task-backlog" class="btn">Submit</button>
            </div>
        </div>
        <div class="col" id="app-taskblock-ready">
            <div class="p-2 border rounded block-status">
                <p>Ready</p>
                <ul class="list-unstyled" id="app-tasks-list-ready"></ul>
                <select class="form-select" name="app-select-ready" id="app-select-ready">
                </select>
                <button id="app-add-task-ready" class="btn">+ Add card</button>
                <button id="app-submit-add-task-ready" class="btn">Submit</button>
            </div>
        </div>
        <div class="col" id="app-taskblock-in-progress">
            <div class="p-2 border rounded block-status">
                <p>In progress</p>
                <ul class="list-unstyled" id="app-tasks-list-in-progress"></ul>
                <select class="form-select" name="app-select-in-progress" id="app-select-in-progress">
                </select>
                <button id="app-add-task-in-progress" class="btn">+ Add card</button>
                <button id="app-submit-add-task-in-progress" class="btn">Submit</button>
            </div>
        </div>
        <div class="col" id="app-taskblock-finished">
            <div class="p-2 border rounded block-status">
                <p>Finished</p>
                <ul class="list-unstyled" id="app-tasks-list-finished"></ul>
                <select class="form-select" name="app-select-finished" id="app-select-finished">
                </select>
                <button id="app-add-task-finished" class="btn">+ Add card</button>
                <button id="app-submit-add-task-finished" class="btn">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="app-modal-content-task-show">
                    <p>Title: <span id="app-task-title"></span></p>
                    <p>Description: <span id="app-task-description"></span></p>
                </div>
                <div id="app-modal-content-task-edit">
                    <input type="text" name="task-title" id="task-title">
                    <textarea class="textarea rounded w-100" name="task-description" id="task-description" cols="30" rows="10" placeholder="Description..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="app-modal-btn-save-task">Save</button>
                <button type="button" class="btn btn-primary" id="app-modal-btn-edit-task">Edit</button>
                <button type="button" class="btn btn-danger" id="app-modal-btn-delete-task">Delete</button>
            </div>
        </div>
    </div>
</div>
