<div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle text-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img class="rounded-circle" id="app-user-avatar" src="../../../images/user-avatar.jpg" alt="">
      Здравствуйте, <span id="app-menu-login"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="/profile">My profile</a></li>
      <li><a class="dropdown-item" href="/">My tasks</a></li>
      <li><a class="dropdown-item" id="app-logout-btn" href="">Sign Out</a></li>
    </ul>
</div>
